{% extends "base.html" %}
{% block title %}

yo !!  

{% endblock %}
{% block content %}


<h1>¿Quiénes somos?</h1>

    Fernando Gasperi, creador de este blog, se especializa en sistemas de comunicación 
    hace veinte años. Además, realiza cursos de programación desde los dieciocho años, 
    contando con conocimientos de COBOL y Html. Este año, decidió dar un paso más y 
    adentrarse en otros lenguajes de programación tales como el Python, con el cual se
    realizó principalmente este blog.

<h3>¿Cómo surge este espacio?</h3>

    Con motivo del proyecto final del curso Python impartido por CoderHouse, se realizó un blog siguiendo las
    especificaciones mencionadas a lo largo del curso. Este le permite al usuario registrarse, iniciar sesión 
    y participar de la discusión agregando un Post. El objetivo principal fue facilitar una amena y 
    cómoda experiencia, a la misma vez que se tenían en cuenta los aspectos requeridos y la idea que se quería
    llevar a cabo.








{% endblock %}