{% extends "base.html" %}
{% block title %}

Crear un nuevo Perfil!!  

{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Agregar Perfil</h1>
    <br/><br/>
    
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button class="btn btn-secondary"> Crear Perfil</button>
        </form>
    </div>
    



{% else %}

No permitido

{% endif %}





{% endblock %}